<div class="price-card">
    <div class="price-card__heading">
        <p class="price-card__title">Rookie</p>
        <p class="price-card__sale">Early bird 40% off!</p>
    </div>
    <div class="price-card__pricing">
        <p class="price-card__cost price-card__cost_sale">$1555.99</p>
        <p class="price-card__cost">$1055.99<span>/year</span></p>
    </div>
    <p class="price-card__time">1 year</p>
    <p class="price-card__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum culpa a,
        perferendis qui incidunt voluptas!
    </p>
    <a href="#" class="button button_dark button_large price-card__button"
        >Subscribe</a
    >
    <div class="price-card__options">
        <div class="price-card__option">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">Preflop sims only</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">No ante games</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">No short stack</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-2.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">50bbs</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option price-card__option_disabled">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-2.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">100bbs</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option price-card__option_disabled">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">Full pot open</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
    </div>
</div>
<div class="price-card">
    <div class="price-card__heading">
        <p class="price-card__title">PRO</p>
        <p class="price-card__sale">Early bird 40% off!</p>
        <span class="price-card__label">Most popular</span>
    </div>
    <div class="price-card__pricing">
        <p class="price-card__cost price-card__cost_sale">$2766.99</p>
        <p class="price-card__cost">$2066.99<span>/year</span></p>
    </div>
    <p class="price-card__time">1 year</p>
    <p class="price-card__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum culpa a,
        perferendis qui incidunt voluptas!
    </p>
    <a href="#" class="button button_dark button_large price-card__button"
        >Subscribe</a
    >
    <div class="price-card__options">
        <div class="price-card__option">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">Preflop sims with flop sims</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">Flop aggregared report</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">Multiple preflop sims</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">Many stack sizes</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-3.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">500 calculations</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-2.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">100bbs</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
    </div>
</div>
<div class="price-card">
    <div class="price-card__heading">
        <p class="price-card__title">High-Roller</p>
    </div>
    <div class="price-card__pricing">
        <p class="price-card__cost">Coming Soon</p>
    </div>
    <p class="price-card__time">1 year</p>
    <p class="price-card__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum culpa a,
        perferendis qui incidunt voluptas!
    </p>
    <a href="#" class="button button_dark button_large price-card__button"
        >Subscribe</a
    >
    <div class="price-card__options">
        <div class="price-card__option price-card__option_disabled">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">
                Turns and rivers aggregation reports
            </p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option price-card__option_disabled">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">Complete turns and river</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option price-card__option_disabled">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">Preflop chart table</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option price-card__option_disabled">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-2.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">50bbs</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option price-card__option_disabled">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-2.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">100bbs</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
        <div class="price-card__option price-card__option_disabled">
            <div class="price-card__option-thumb">
                <img
                    src="images/price-option-thumb-1.svg"
                    alt="option thumbnail"
                    class="price-card__option-icon"
                />
            </div>
            <p class="price-card__option-title">No short stack</p>
            <div class="price-card__option-info">
                <img src="images/price-option-info.svg" alt="hover me" />
            </div>
        </div>
    </div>
</div>
