<section class="faq container" id="#faq">
    <img
        src="images/faq-title-icon.svg"
        alt="icon"
        class="section__title-icon"
    />
    <h3 class="section__title faq__section-title">
        Frequently asked questions
    </h3>
    <div class="faq__accordion-container">
        <div
            class="accordion faq__accordion accordion_active"
            id="faq-accordion-item"
        >
            <div class="accordion__title faq__accordion-title-container">
                <p class="faq__accordion-title">
                    For which formats do you have solutions?
                </p>
                <img
                    src="images/faq-accordion-plus.svg"
                    alt="+"
                    class="faq__accordion-plus"
                />
            </div>
            <div class="accordion__body">
                <p class="faq__accordion-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Maxime nesciunt minus voluptates. Nesciunt esse officiis
                    soluta veritatis voluptate odit optio qui eveniet
                    temporibus, enim hic ex asperiores quia quod maxime,
                    consequatur illo quos nobis repudiandae ipsam. Unde odio
                    animi, reprehenderit consequatur praesentium vitae
                    laudantium amet corporis nihil mollitia qui similique harum
                    tenetur vero asperiores omnis quae in, odit eos quod?
                </p>
            </div>
        </div>
        <div class="accordion faq__accordion accordion" id="faq-accordion-item">
            <div class="accordion__title faq__accordion-title-container">
                <p class="faq__accordion-title">
                    I play with different rake structure or use different bet
                    sizings. Will PLO5 Trainer work for me?
                </p>
                <img
                    src="images/faq-accordion-plus.svg"
                    alt="+"
                    class="faq__accordion-plus"
                />
            </div>
            <div class="accordion__body">
                <p class="faq__accordion-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Maxime nesciunt minus voluptates. Nesciunt esse officiis
                    soluta veritatis voluptate odit optio qui eveniet
                    temporibus, enim hic ex asperiores quia quod maxime,
                    consequatur illo quos nobis repudiandae ipsam. Unde odio
                    animi, reprehenderit consequatur praesentium vitae
                    laudantium amet corporis nihil mollitia qui similique harum
                    tenetur vero asperiores omnis quae in, odit eos quod?
                </p>
            </div>
        </div>
        <div class="accordion faq__accordion accordion" id="faq-accordion-item">
            <div class="accordion__title faq__accordion-title-container">
                <p class="faq__accordion-title">
                    Do I need a powerful PC or any solver knowledge?
                </p>
                <img
                    src="images/faq-accordion-plus.svg"
                    alt="+"
                    class="faq__accordion-plus"
                />
            </div>
            <div class="accordion__body">
                <p class="faq__accordion-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Maxime nesciunt minus voluptates. Nesciunt esse officiis
                    soluta veritatis voluptate odit optio qui eveniet
                    temporibus, enim hic ex asperiores quia quod maxime,
                    consequatur illo quos nobis repudiandae ipsam. Unde odio
                    animi, reprehenderit consequatur praesentium vitae
                    laudantium amet corporis nihil mollitia qui similique harum
                    tenetur vero asperiores omnis quae in, odit eos quod?
                </p>
            </div>
        </div>
        <div class="accordion faq__accordion accordion" id="faq-accordion-item">
            <div class="accordion__title faq__accordion-title-container">
                <p class="faq__accordion-title">
                    How does the solver manage balanced actions ?
                </p>
                <img
                    src="images/faq-accordion-plus.svg"
                    alt="+"
                    class="faq__accordion-plus"
                />
            </div>
            <div class="accordion__body">
                <p class="faq__accordion-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Maxime nesciunt minus voluptates. Nesciunt esse officiis
                    soluta veritatis voluptate odit optio qui eveniet
                    temporibus, enim hic ex asperiores quia quod maxime,
                    consequatur illo quos nobis repudiandae ipsam. Unde odio
                    animi, reprehenderit consequatur praesentium vitae
                    laudantium amet corporis nihil mollitia qui similique harum
                    tenetur vero asperiores omnis quae in, odit eos quod?
                </p>
            </div>
        </div>
        <div class="accordion faq__accordion accordion" id="faq-accordion-item">
            <div class="accordion__title faq__accordion-title-container">
                <p class="faq__accordion-title">
                    When will be post-flop available?
                </p>
                <img
                    src="images/faq-accordion-plus.svg"
                    alt="+"
                    class="faq__accordion-plus"
                />
            </div>
            <div class="accordion__body">
                <p class="faq__accordion-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Maxime nesciunt minus voluptates. Nesciunt esse officiis
                    soluta veritatis voluptate odit optio qui eveniet
                    temporibus, enim hic ex asperiores quia quod maxime,
                    consequatur illo quos nobis repudiandae ipsam. Unde odio
                    animi, reprehenderit consequatur praesentium vitae
                    laudantium amet corporis nihil mollitia qui similique harum
                    tenetur vero asperiores omnis quae in, odit eos quod?
                </p>
            </div>
        </div>
        <div class="accordion faq__accordion accordion" id="faq-accordion-item">
            <div class="accordion__title faq__accordion-title-container">
                <p class="faq__accordion-title">
                    Can I request my own sims to be added?
                </p>
                <img
                    src="images/faq-accordion-plus.svg"
                    alt="+"
                    class="faq__accordion-plus"
                />
            </div>
            <div class="accordion__body">
                <p class="faq__accordion-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Maxime nesciunt minus voluptates. Nesciunt esse officiis
                    soluta veritatis voluptate odit optio qui eveniet
                    temporibus, enim hic ex asperiores quia quod maxime,
                    consequatur illo quos nobis repudiandae ipsam. Unde odio
                    animi, reprehenderit consequatur praesentium vitae
                    laudantium amet corporis nihil mollitia qui similique harum
                    tenetur vero asperiores omnis quae in, odit eos quod?
                </p>
            </div>
        </div>
        <div class="accordion faq__accordion accordion" id="faq-accordion-item">
            <div class="accordion__title faq__accordion-title-container">
                <p class="faq__accordion-title">Can I export sims?</p>
                <img
                    src="images/faq-accordion-plus.svg"
                    alt="+"
                    class="faq__accordion-plus"
                />
            </div>
            <div class="accordion__body">
                <p class="faq__accordion-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Maxime nesciunt minus voluptates. Nesciunt esse officiis
                    soluta veritatis voluptate odit optio qui eveniet
                    temporibus, enim hic ex asperiores quia quod maxime,
                    consequatur illo quos nobis repudiandae ipsam. Unde odio
                    animi, reprehenderit consequatur praesentium vitae
                    laudantium amet corporis nihil mollitia qui similique harum
                    tenetur vero asperiores omnis quae in, odit eos quod?
                </p>
            </div>
        </div>
        <div class="accordion faq__accordion accordion" id="faq-accordion-item">
            <div class="accordion__title faq__accordion-title-container">
                <p class="faq__accordion-title">Can I use it on my phone?</p>
                <img
                    src="images/faq-accordion-plus.svg"
                    alt="+"
                    class="faq__accordion-plus"
                />
            </div>
            <div class="accordion__body">
                <p class="faq__accordion-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Maxime nesciunt minus voluptates. Nesciunt esse officiis
                    soluta veritatis voluptate odit optio qui eveniet
                    temporibus, enim hic ex asperiores quia quod maxime,
                    consequatur illo quos nobis repudiandae ipsam. Unde odio
                    animi, reprehenderit consequatur praesentium vitae
                    laudantium amet corporis nihil mollitia qui similique harum
                    tenetur vero asperiores omnis quae in, odit eos quod?
                </p>
            </div>
        </div>
        <div class="accordion faq__accordion accordion" id="faq-accordion-item">
            <div class="accordion__title faq__accordion-title-container">
                <p class="faq__accordion-title">
                    I have a question, how can I contact you?
                </p>
                <img
                    src="images/faq-accordion-plus.svg"
                    alt="+"
                    class="faq__accordion-plus"
                />
            </div>
            <div class="accordion__body">
                <p class="faq__accordion-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Maxime nesciunt minus voluptates. Nesciunt esse officiis
                    soluta veritatis voluptate odit optio qui eveniet
                    temporibus, enim hic ex asperiores quia quod maxime,
                    consequatur illo quos nobis repudiandae ipsam. Unde odio
                    animi, reprehenderit consequatur praesentium vitae
                    laudantium amet corporis nihil mollitia qui similique harum
                    tenetur vero asperiores omnis quae in, odit eos quod?
                </p>
            </div>
        </div>
    </div>
    <div class="faq__footer">
        <p>
            If you have any further questions please
            <a href="#">contact us</a>
        </p>
    </div>
</section>
