.selector-container {
    position: relative;

    width: 42px;
    height: 24px;
    background: var(--primary-blue);
    border-radius: 100px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;

    transition: all 0.26s ease;

    &:hover {
        box-shadow: 0px 0px 15px rgba(57, 140, 255, 0.64);
        transition: all 0.26s ease;
    }
}
.selector-dot {
    position: absolute;

    width: 20px;
    height: 20px;
    background: var(--white);
    top: 2px;
    left: 20px;

    border-radius: 50%;

    transition: all 0.26s ease;

    &_active {
        left: 2px;
    }
}
