<section class="reviews__container">
    <div class="container reviews">
        <div class="reviews__heading">
            <h3 class="section__title reviews__section-title">Reviews</h3>
            <a href="#" class="reviews__all">Show all</a>
        </div>
        <div class="reviews__content">
            <div class="review">
                <div class="review__heading">
                    <img
                        src="images/review-thumb-1.png"
                        alt="thumbnail"
                        class="review__thumb"
                    />
                    <div class="review__heading-title">
                        <p class="review__heading-name">Arlene Mccoy</p>
                        <p class="review__heading-activity">
                            BrPC founder, RIO Elite coach
                        </p>
                    </div>
                </div>
                <p class="review__comment">
                    With GO Wizard subscription yout get access to an already
                    complete training platform, that is guaranteed to only get
                    better. For anyone serious about improving at poker, it's
                    the easiest call of all time.
                </p>
                <div class="review__footer">
                    <p class="review__footer-date">8:35 PM - Jan 6, 2022</p>
                    <div class="review__footer-grade">
                        <img src="images/review-grade-icon.svg" alt="star" />
                        <img src="images/review-grade-icon.svg" alt="star" />
                        <img src="images/review-grade-icon.svg" alt="star" />
                        <img src="images/review-grade-icon.svg" alt="star" />
                        <img src="images/review-grade-icon.svg" alt="star" />
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="review__heading">
                    <img
                        src="images/review-thumb-2.png"
                        alt="thumbnail"
                        class="review__thumb"
                    />
                    <div class="review__heading-title">
                        <p class="review__heading-name">Emil Schaefer</p>
                        <p class="review__heading-activity">Poker Youtuber</p>
                    </div>
                </div>
                <p class="review__comment">
                    Developers are very receptive and have rapidly added
                    features based on feedback. They have separated themselves
                    from other similar tools and continue to make the product
                    better and better.
                </p>
                <div class="review__footer">
                    <p class="review__footer-date">8:35 PM - Jan 6, 2022</p>
                    <div class="review__footer-grade">
                        <img src="images/review-grade-icon.svg" alt="star" />
                        <img src="images/review-grade-icon.svg" alt="star" />
                        <img src="images/review-grade-icon.svg" alt="star" />
                        <img src="images/review-grade-icon.svg" alt="star" />
                        <img src="images/review-grade-icon.svg" alt="star" />
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="review__heading">
                    <img
                        src="images/review-thumb-3.png"
                        alt="thumbnail"
                        class="review__thumb"
                    />
                    <div class="review__heading-title">
                        <p class="review__heading-name">Mason Heaney</p>
                        <p class="review__heading-activity">
                            Mid-High Stakes player
                        </p>
                    </div>
                </div>
                <p class="review__comment">
                    I used to solve with PioSolver and have tested some other
                    sites, but the interface, simplicity, accuracy, and
                    effectiveness of GTO Wizard is by far the best.
                </p>
            </div>
        </div>
    </div>
</section>
