.language-selector {
    position: relative;

    margin: 0 40px 0;

    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    user-select: none;

    @media only screen and (max-width: 767px) {
        display: none;
    }

    // .language-selector__current-language-container

    &__current-language-container {
        display: flex;
        align-items: center;

        cursor: pointer;

        &:hover .language-selector__current-language {
            color: var(--primary-blue);
        }
        &:hover .language-selector__arrow {
            fill: var(--primary-blue);
        }
    }

    // .language-selector__current-language

    &__current-language {
        font-size: 16px;
        transition: color 0.26s ease-out;
    }

    // .language-selector__arrow

    &__arrow {
        height: fit-content;
        margin: 0 0 0 8px;

        fill: var(--white);
        transform: rotate(0deg);

        transition: all 0.26s ease-out;

        &_open {
            transform: rotate(180deg);
        }
    }

    // .language-selector__list

    &__list {
        position: absolute;

        display: flex;
        flex-direction: column;

        padding: 5px 10px;

        opacity: 0;
        z-index: 1;
        left: -10px;
        transform: scaleY(0);
        transform-origin: top;
        transition: all 0.26s ease-out;

        &_active {
            opacity: 1;
            transform: scaleY(1);
            z-index: 1;
        }
    }

    // .language-selector__language

    &__language {
        padding: 5px 0;
        cursor: pointer;

        transition: all 0.2s ease;

        &:hover {
            color: var(--primary-blue);
        }
    }

    &__language_current {
        color: var(--primary-blue);
    }
}
