<div class="language-selector">
    <div class="language-selector__current-language-container">
        <div class="language-selector__current-language"><span>EN</span></div>
        <div class="language-selector__arrow">
            <svg width="24px" height="24px">
                <use href="#lang-arrow"></use>
            </svg>
        </div>
    </div>
    <div class="language-selector__list">
        <span class="language-selector__language">RU</span>
        <span
            class="language-selector__language language-selector__language_current"
            >EN</span
        >
        <span class="language-selector__language">DE</span>
    </div>
</div>
