@import url(./normalize.css);
@import url(./variables.css);
@import url(./fonts.css);
@import url(./main.css);

.container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 80px 100px 80px;
}

.intro {
	background-color: var(--secondary-blue);
	height: 900px;
	border-radius: 0 0 8px 8px;

	&__container{
		max-width: 1440px;
		margin: 0 auto;
	}

	&__content {
		margin: 0 140px;
	}

	// .intro__heading

	&__heading {
		max-width: 715px;
		margin: 100px 0 0 0;
	}

	// .intro__btns

	&__btns {
		display: flex;
		align-items: center;
		margin: 35px 0;

		span{
			color: var(--light-blue);
			margin: 0 14px;
		}
	}

	// .intro__subtitle

	&__subtitle {
		max-width: 530px;

		font-weight: 400;
		font-size: 22px;
		line-height: 145%;
		color: var(--light-blue);

	}
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 15px;

		// .header__logo-nav

		&__logo-nav {
            display: flex;
		}

		// .header__logo

		&__logo {
            padding: 0 12px 0 0;
		}

		// .header__lang-login

		&__lang-login {
            display: flex;
		}

		&__login{
			display: flex;
		}
}
.logo {
}
.nav {

		// .nav__list

		&__list {
            display: flex;
		}

		// .nav__item

		&__item {
		}

		// .nav__link

		&__link {
            padding: 0 12px;

            font-weight: 600;
            font-size: 17px;
            color: var(--white);

			transition: 0.2s ease color;

			&:hover{
				color: var(--primary-blue);
			}
		}
}
.lang-swither {
}
.login {
	&__button:nth-child(n){
		margin: 0 12px 0 0;
	}
	&__button:last-child{
		margin-right: 0;
	}
}

.story {
	display: flex;
	justify-content: space-between;
	// .story__text

	&__text {
		display: flex;
		flex-direction: column;
		max-width: 370px;
		margin-top: 80px;

	}

	// .story__heading

	&__heading {
	}

	// .story__subtitle

	&__subtitle {
		color: var(--dark-blue);
		font-weight: 400;
		font-size: 16px;
		line-height: 175%;
		opacity: 0.75;
	}
}
.video {
	margin-top: -60px;
}

.features {

	// .features__content

	&__content {
	}

	// .features__list

	&__list {
	}

	&__accordion{
		max-width: 475px;
		width: 100%;
		margin: 0 0 15px;

		// opacity: 0.5;

		background: #FFFFFF;
		box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
		border-radius: 6px;

		&:last-child{
			margin: 0;
		}
	}

	// .features__accordion-container

	&__accordion-container {
	}

	&__accordion-title{
		margin: 0;
		padding: 25px 30px;

		color: var(--dark-blue);
		font-weight: 700;
		font-size: 20px;
		line-height: 140%;

		opacity: 0.75;
	}

	&__accordion-body{
		position: relative;
		padding: 20px 30px 25px 30px;
		margin: 0;

		font-weight: 400;
		font-size: 16px;
		line-height: 190%;
		letter-spacing: 0.02em;

		color: var(--dark-blue-opacity);

		&::before{
			content: "";
			position: absolute;
			width: calc(100% - 60px);
			left: 50%;
			transform: translateX(-50%);
			height: 1px;
			top: 0;

			background-color: #EDF1F6;
		}
	}
}
.container {
}
.section__title {
	font-weight: 700;
	font-size: 42px;
	line-height: 110%;
	letter-spacing: -0.03em;

	color: var(--dark-blue);
}