:root{
    --Gilroy: Gilroy, sans-serif;
    --white: #FFFFFF;
    --primary-blue: #031E3E;
    --secondary-blue: #398BFF;
    --dark-gray: #6A6A6A;
    --dark-blue: #001731;
    --light-blue: #AAC0E0;
    --dark-blue-opacity: rgba(0, 23, 49, 0.55);
}