.about-us {
    position: relative;
    padding-bottom: 0;

    overflow: hidden;

    @media only screen and (max-width: 1023px) {
        display: flex;
        justify-content: center;
    }

    &__bg-img {
        position: absolute;
        bottom: -50px;
        left: 20px;
        z-index: 1;

        @media only screen and (max-width: 1260px) {
            max-width: 500px;
        }

        @media only screen and (max-width: 1160px) {
            max-width: 350px;
        }

        @media only screen and (max-width: 1023px) {
            display: none;
        }
    }

    // .about-us__container

    &__container {
        background: #031e3e;
    }

    // .about-us__title-container

    &__content {
        position: relative;
        max-width: 530px;
        padding: 225px 0;
        margin: 0 0 0 auto;

        z-index: 2;

        @media only screen and (max-width: 1260px) {
            padding: 150px 0;
        }
        @media only screen and (max-width: 1160px) {
            padding: 80px 0;
        }
        @media only screen and (max-width: 1023px) {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin: 0 0 0 0;
            text-align: center;
        }
    }

    &__title {
        @media only screen and (max-width: 1023px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 20px 0;
        }
    }

    // .about-us__section-icon

    &__section-icon {
    }

    // .about-us__section-title

    &__section-title {
        margin: 0 0 24px 0;
        color: var(--white);

        @media only screen and (max-width: 1023px) {
            margin: 0;
        }
    }

    &__section-subtitle {
        max-width: 530px;
        margin: 0 0 35px 0;

        color: var(--light-blue);
    }

    // .about-us__button

    &__button {
    }
}
