<section class="about-us__container" id="#aboutUs">
    <div class="container about-us">
        <img
            src="images/about-us-bg.png"
            alt="our team"
            class="about-us__bg-img"
        />
        <div class="about-us__content">
            <div class="about-us__title">
                <img
                    src="images/about-us-title-icon.svg"
                    alt="icon"
                    class="section__title-icon about-us__section-icon"
                />
                <h3 class="section__title about-us__section-title">
                    Learn from the Pros
                </h3>
            </div>
            <p class="section__subtitle about-us__section-subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Volutpat eleifend tristique scelerisque eget.
            </p>
            <a href="#" class="button button_dark button_large about-us__button"
                >Learn more</a
            >
        </div>
    </div>
</section>
