<section class="story container">
    @@include("../Video/Video.html")

    <div class="story__text">
        <h2 class="story__heading">Our story</h2>
        <p class="story__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat
            eleifend tristique scelerisque eget.
        </p>
        <p class="story__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat
            eleifend tristique scelerisque eget.
        </p>
    </div>
</section>
