<section class="pricing container">
    <div class="pricing__header">
        <div class="pricing__header-heading">
            <h3 class="section__title">Pricing</h3>
            <p class="section__subtitle">
                Chose the most suitable type of subscription for you!
            </p>
        </div>
        <div class="pricing__selector">
            <span class="pricing__selector-year">Billed yearly</span>
            <div class="pricing__selector-body">
                @@include("../Selector/Selector.html")
            </div>
            <span class="pricing__selector-mount">Billed monthly</span>
        </div>
    </div>
    <div class="pricing__cards">
        <div class="price-card">
            <div class="price-card__heading">
                <p class="price-card__title">Rookie</p>
                <p class="price-card__sale">Early bird 40% off!</p>
            </div>
            <div class="price-card__pricing">
                <p class="price-card__cost price-card__cost_sale">$119.99</p>
                <p class="price-card__cost">$55.99<span>/mo</span></p>
            </div>
            <p class="price-card__time">1 year</p>
            <p class="price-card__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum
                culpa a, perferendis qui incidunt voluptas!
            </p>
            <a
                href="#"
                class="button button_dark button_large price-card__button"
                >Subscribe</a
            >
            <div class="price-card__options">
                <div class="price-card__option">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">Preflop sims only</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">No ante games</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">No short stack</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-2.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">50bbs</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option price-card__option_disabled">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-2.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">100bbs</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option price-card__option_disabled">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">Full pot open</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="price-card">
            <div class="price-card__heading">
                <p class="price-card__title">PRO</p>
                <p class="price-card__sale">Early bird 40% off!</p>
                <span class="price-card__label">Most popular</span>
            </div>
            <div class="price-card__pricing">
                <p class="price-card__cost price-card__cost_sale">$243.99</p>
                <p class="price-card__cost">$193.99<span>/mo</span></p>
            </div>
            <p class="price-card__time">1 year</p>
            <p class="price-card__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum
                culpa a, perferendis qui incidunt voluptas!
            </p>
            <a
                href="#"
                class="button button_dark button_large price-card__button"
                >Subscribe</a
            >
            <div class="price-card__options">
                <div class="price-card__option">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">
                        Preflop sims with flop sims
                    </p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">
                        Flop aggregared report
                    </p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">
                        Multiple preflop sims
                    </p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">Many stack sizes</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-3.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">500 calculations</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-2.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">100bbs</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="price-card">
            <div class="price-card__heading">
                <p class="price-card__title">Rookie</p>
            </div>
            <div class="price-card__pricing">
                <p class="price-card__cost">Coming Soon</p>
            </div>
            <p class="price-card__time">1 year</p>
            <p class="price-card__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum
                culpa a, perferendis qui incidunt voluptas!
            </p>
            <a
                href="#"
                class="button button_dark button_large price-card__button"
                >Subscribe</a
            >
            <div class="price-card__options">
                <div class="price-card__option price-card__option_disabled">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">
                        Turns and rivers aggregation reports
                    </p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option price-card__option_disabled">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">
                        Complete turns and river
                    </p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option price-card__option_disabled">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">Preflop chart table</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option price-card__option_disabled">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-2.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">50bbs</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option price-card__option_disabled">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-2.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">100bbs</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
                <div class="price-card__option price-card__option_disabled">
                    <div class="price-card__option-thumb">
                        <img
                            src="images/price-option-thumb-1.svg"
                            alt="option thumbnail"
                            class="price-card__option-icon"
                        />
                    </div>
                    <p class="price-card__option-title">No short stack</p>
                    <div class="price-card__option-info">
                        <img
                            src="images/price-option-info.svg"
                            alt="hover me"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
