<section class="pricing container" id="#pricing">
    <div class="pricing__header">
        <div class="pricing__header-heading">
            <h3 class="section__title">Pricing</h3>
            <p class="section__subtitle">
                Chose the most suitable type of subscription for you!
            </p>
        </div>
        <div class="pricing__selector">
            <span class="pricing__selector-year">Billed yearly</span>
            <div class="pricing__selector-body">
                @@include("../Switcher/Switcher.html")
            </div>
            <span class="pricing__selector-mount">Billed monthly</span>
        </div>
    </div>
    <div class="pricing__cards">
        <div class="pricing__cards-container pricing__cards-monthly">
            @@include("./PricingCards/PricingMonthly.html")
        </div>
        <div
            class="pricing__cards-container pricing__cards-yearly pricing__cards-yearly_active"
        >
            @@include("./PricingCards/PricingYearly.html")
        </div>
    </div>
</section>
