<div class="lang-switcher">
    <div class="lang-switcher__current-lang-container">
        <div class="lang-switcher__current-lang"><span>EN</span></div>
        <div class="lang-switcher__arrow">
            <svg width="24px" height="24px">
                <use href="#lang-arrow"></use>
            </svg>
        </div>
    </div>
    <div class="lang-switcher__list">
        <span class="lang-switcher__lang">RU</span>
        <span class="lang-switcher__lang lang-switcher__lang_current">EN</span>
        <span class="lang-switcher__lang">DE</span>
    </div>
</div>
