<header class="header">
    <div class="header__logo-nav">
        <a href="#">
            <svg width="50" height="50">
                <use href="#logo"></use>
            </svg>
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">How it works</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Pricing</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">About Us</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">FAQ</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__lang-login">
        <div class="lang-swither" style="color: white">rus</div>
        <div class="login header__login">
            <a href="#" class="button login__button button_small button_dark"
                >Start free trial</a
            >
            <a href="#" class="button login__button button_small button_light"
                >Sign In</a
            >
        </div>
    </div>
</header>
