.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;

    // .header__logo-nav

    &__logo-nav {
        display: flex;

        svg {
            fill: var(--white);

            transition: fill 0.2s ease;

            &:hover {
                fill: var(--primary-blue);
            }
        }
    }

    // .header__logo

    &__logo {
        padding: 0 12px 0 0;
    }

    // .header__lang-login

    &__lang-login {
        display: flex;
        align-items: center;
    }

    &__login {
        display: flex;
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
}

.nav {
    // .nav__list

    @media only screen and (max-width: 767px) {
        display: none;
    }

    &__list {
        display: flex;
    }

    // .nav__link

    &__link {
        padding: 0 12px;

        font-weight: 600;
        font-size: 17px;
        color: var(--white);

        transition: 0.2s ease color;

        &:hover {
            color: var(--primary-blue);
        }
    }
}

.login {
    &__button:nth-child(n) {
        margin: 0 12px 0 0;
    }
    &__button:last-child {
        margin-right: 0;
    }
}

.menu-mobile {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 200px 0 40px;

    transform: translateY(-100%);
    transition: all 0.26s ease-in-out;

    &_active {
        transform: translateY(0);
        z-index: 10;
    }

    .nav {
        display: block;
    }
    .header__lang-login {
        display: flex;
        margin-top: 20px;
    }
    .login {
        display: flex;
    }
    .language-selector {
        display: block;
    }
}
