<div class="video">
    <a class="video__link" href="https://youtu.be/2NtkUIhLOAk">
        <picture>
            <source srcset="images/video-placeholder.png" type="image/webp" />
            <img
                class="video__media"
                src="images/video-placeholder.png"
                alt="story_video"
            />
        </picture>
    </a>
    <button class="video__button" aria-label="Запустить видео">
        <svg class="video__button-img" width="62" height="62">
            <use href="#video-play-btn"></use>
        </svg>
    </button>
</div>
