<div class="intro">
    <div class="intro__container">
        <img class="intro__bg" src="images/intro-bg.png" alt="pc" />
        <div class="intro__gradient"></div>

        @@include("../Header/Header.html")

        <div class="intro__content">
            <h1 class="intro__heading">
                Lorem ipsum dolor sit amet, consectetur adipscinc elit
            </h1>
            <div class="intro__btns">
                <a href="#" class="button button_dark button_large"
                    >Start now</a
                >
                <span>or</span>
                <a href="#" class="button button_light button_large"
                    >Take a free tour</a
                >
            </div>
            <p class="intro__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Volutpat eleifend tristique scelerisque eget some sss.
            </p>
        </div>
    </div>
</div>
