<section class="features container">
    <div class="features__title-container">
        <img
            src="images/features-title-icon.svg"
            alt="icon"
            class="section__title-icon"
        />
        <h3 class="section__title features__section-title">Features</h3>
    </div>
    <div class="features__content-container">
        <div class="features__content">
            <div class="features__accordion-container">
                <div class="accordion features__accordion accordion_active">
                    <div class="accordion__title">
                        <p class="features__accordion-title">
                            <img
                                src="images/features-accordion-icon-1.svg"
                                alt="icon"
                                class="features__accordion-icon"
                            />Game Selection and Preflop Action
                        </p>
                    </div>
                    <div class="accordion__body">
                        <p class="features__accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Volutpat eleifend tristique scelerisque eget.
                        </p>
                    </div>
                </div>
                <div class="accordion features__accordion">
                    <div class="accordion__title">
                        <p class="features__accordion-title">
                            <img
                                src="images/features-accordion-icon-2.svg"
                                alt="icon"
                                class="features__accordion-icon"
                            />Browse Solutions for player to act
                        </p>
                    </div>
                    <div class="accordion__body">
                        <p class="features__accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Volutpat eleifend tristique scelerisque eget.
                        </p>
                    </div>
                </div>
                <div class="accordion features__accordion">
                    <div class="accordion__title">
                        <p class="features__accordion-title">
                            <img
                                src="images/features-accordion-icon-3.svg"
                                alt="icon"
                                class="features__accordion-icon"
                            />Practice Mode
                        </p>
                    </div>
                    <div class="accordion__body">
                        <p class="features__accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Accusantium enim deleniti, cupiditate
                            doloribus provident officia inventore, a molestiae
                            cum tempore ab. Eius adipisci, autem rerum pariatur
                            illo saepe eveniet repellendus ipsam sed accusantium
                            quis qui cum sunt obcaecati iusto mollitia!
                        </p>
                    </div>
                </div>
            </div>
            <div class="features__comment-section">
                <div class="features__comment-thumb-container">
                    <img
                        src="images/features-comment-thumb.png"
                        alt="Antonio. A"
                        class="features__comment-thumb"
                    />
                </div>
                <div class="features__comment-container">
                    <p class="features__comment-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Tenetur repellat tempora sint magnam, a minus natus
                        assumenda ab error facere?
                    </p>
                    <p class="features__comment-author">Antonio A.</p>
                </div>
            </div>
            <a href="#" class="button button_dark button_large features__button"
                >Get started <span>for free</span></a
            >
        </div>
        <img
            src="images/features-app-screen.svg"
            alt="app-screen"
            class="features__app-screen"
        />
    </div>
</section>
